{{#each this.products as |product|}}
                <div class="productItem">
                    <div class="image" style="background-image: url({{product.imageUrl}});">
                    </div>

                    <div class="info">

                        
                         <a class="productInfoLink" href="/shop/details?id={{product._id}}" target="_blank">
                        <div class="productInfo">
                            <h2 class="name">
                                {{product.name}}
                            </h2>
                            <ul class="descriptionList">
                                {{#each product.description as |desc|}}
                                    <li>{{desc}}</li>
                                {{/each}}
                            </ul>
                        </div>
                        </a>


                        <!-- <div class="productInfo">
                            <h2 class="name">
                                {{product.name}}
                            </h2>
                            <ul class="descriptionList">
                                <li>{{product.description}}</li>
                            </ul>
                        </div> -->
                        <div class="priceInfo">
                            <div class="price">
                                ${{product.price}}
                            </div>
                            <div class="btnGroup">
                                <button class="btn">
                                    <a href="/admin/edit?id={{product._id}}">Edit</a>
                                </button>
                                <!-- <button class="btn">
                                    <a href="/admin/details?id={{product._id}}">Details</a>
                                </button> -->
                                <button class="btn">
                                    <a href="/admin/delete?id={{product._id}}">Delete</a>
                                </button>
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
            {{/each}}